*~
*.exe
TestResult.xml
ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.rpath
config.status
config.sub
configure
gnome-doc-utils.make
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
missing
mkinstalldirs
mortadelo
mortadelo-0.2.tar.gz
